---
title: Article | Morgane Guerit
---

<div class="page-article">
  <div class="page-article__backdrop"></div>
  <div class="container">
    <div class="row">
      <div class="page-article__title col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1>Retour sur le Laponie / Dalmatie Trophy 2019</h1>
        <p><span class="text__date">Le 12 Octobre 2019</span> par <a href="#">Morgane Guérit</a></p>
      </div>
      <div class="page-article__cover">
        <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
      </div>
      <div class="col-10 offset-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <p>Bienvenue sur WordPress. Ceci est votre premier article. Modifiez-le ou supprimez-le, puis commencez à écrire&nbsp;!</p>
        <figure class="wp-block-image size-large">
          <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
          <figcaption>citation de texte</figcaption>
        </figure>
        <h2>titre H2</h2>
        <h3>Titre H3</h3>
        <h4>Titre H4</h4>
        <p>Bienvenue sur WordPress. Ceci est votre premier article. Modifiez-le ou supprimez-le, puis commencez à écrire&nbsp;!</p>
        <span id="more-1"></span>
        <ul>
          <li>Elément liste 1</li>
          <li>Elément liste 2</li>
          <li>Elément liste 3</li>
          <li>Elément liste 4</li>
          <li>Elément liste 5</li>
          <li>Elément liste 6</li>
        </ul>
        <blockquote class="wp-block-quote">
          <p>Bienvenue sur WordPress. Ceci est votre premier article. Modifiez-le ou supprimez-le, puis commencez à écrire&nbsp;!</p>
          <cite>voici le nom de la source</cite>
        </blockquote>

        <figure class="wp-block-gallery columns-3 is-cropped">
          <ul class="blocks-gallery-grid">
            <li class="blocks-gallery-item"><figure>
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </figure></li>
            <li class="blocks-gallery-item"><figure>
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </figure></li>
            <li class="blocks-gallery-item"><figure>
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </figure></li>
            <li class="blocks-gallery-item"><figure>
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </figure></li>
          </ul>
        </figure>

        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div class="page-article__image">
          <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
          <p class="text__category">Citation de la photo</p>
        </div>

        <div class="page-article__double-image">
          <div class="page-article__image">
            <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            <p class="text__category">Citation de la photo</p>
          </div>
          <div class="page-article__image">
            <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            <p class="text__category">Citation de la photo</p>
          </div>
        </div>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="page-article__gallery component-slider__container js-slider" data-arrows="true">
          <div class="js-slide"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></div>
          <div class="js-slide"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></div>
          <div class="js-slide"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></div>
          <div class="js-slide"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></div>
        </div> -->
      </div>
      <div class="component-share col-md-12 col-lg-10 offset-lg-1">
        <ul class="component-share__categories">
          <li><a href="#" class="button">Catégorie 1</a></li>
          <li><a href="#" class="button">Catégorie 2</a></li>
          <li><a href="#" class="button">Catégorie 3</a></li>
        </ul>
        <ul class="component-share__share">
          <li><p>Partager sur :</p></li>
          <li><a href="#" class="button button__icon"><%= image_tag 'icons/facebook.png', alt: 'Facebook' %></a></li>
          <li><a href="#" class="button button__icon"><%= image_tag 'icons/twitter.png', alt: 'Twitter' %></a></li>
          <li><a href="#" class="button button__icon"><%= image_tag 'icons/instagram.png', alt: 'Instagram' %></a></li>
        </ul>
      </div>
    </div>

    <div class="component-more-article__container">
      <h2>Plus d'articles</h2>
      <ul class="row component-more-article__list">
        <li class="component-more-article col-8 offset-2 col-md-4 offset-md-0">
          <div class="component-more-article__image"><a href="#"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></a></div>
          <div class="component-more-article__content">
            <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
            <ul>
              <li><a href="#" class="text__category">Catégorie 1</a></li>
              <li><a href="#" class="text__category">Catégorie 2</a></li>
            </ul>
            <p class="text__date">Le 12 Octobre 2019</p>
          </div>
        </li>
        <li class="component-more-article col-8 offset-2 col-md-4 offset-md-0">
          <div class="component-more-article__image"><a href="#"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></a></div>
          <div class="component-more-article__content">
            <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
            <ul>
              <li><a href="#" class="text__category">Catégorie 1</a></li>
              <li><a href="#" class="text__category">Catégorie 2</a></li>
            </ul>
            <p class="text__date">Le 12 Octobre 2019</p>
          </div>
        </li>
        <li class="component-more-article col-8 offset-2 col-md-4 offset-md-0">
          <div class="component-more-article__image"><a href="#"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></a></div>
          <div class="component-more-article__content">
            <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
            <ul>
              <li><a href="#" class="text__category">Catégorie 1</a></li>
              <li><a href="#" class="text__category">Catégorie 2</a></li>
            </ul>
            <p class="text__date">Le 12 Octobre 2019</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
