---
title: Blog | Morgane Guerit
---

<div class="page-blog">
  <div class="container">
    <div class="row">
      
      <div class="page-blog__title col">
        <h1>Le blog</h1>
        <div class="page-blog__slider component-slider__container js-slider" data-arrows="true">
          <div class="component-more-article__content js-slide">
            <div class="page-blog__slider--image">
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </div>
            <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
            <ul>
              <li><a href="#" class="text__category">Catégorie 1</a></li>
              <li><a href="#" class="text__category">Catégorie 2</a></li>
            </ul>
            <p class="text__date">Le 12 Octobre 2019</p>
            <div class="page-blog__slider--text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua …</p>
              <a href="#" class="button">Lire la suite</a>
            </div>
          </div>
          <div class="component-more-article__content js-slide">
            <div class="page-blog__slider--image">
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </div>
            <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
            <ul>
              <li><a href="#" class="text__category">Catégorie 1</a></li>
              <li><a href="#" class="text__category">Catégorie 2</a></li>
            </ul>
            <p class="text__date">Le 12 Octobre 2019</p>
            <div class="page-blog__slider--text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua …</p>
              <a href="#" class="button">Lire la suite</a>
            </div>
          </div>
          <div class="component-more-article__content js-slide">
            <div class="page-blog__slider--image">
              <%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %>
            </div>
            <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
            <ul>
              <li><a href="#" class="text__category">Catégorie 1</a></li>
              <li><a href="#" class="text__category">Catégorie 2</a></li>
            </ul>
            <p class="text__date">Le 12 Octobre 2019</p>
            <div class="page-blog__slider--text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua …</p>
              <a href="#" class="button">Lire la suite</a>
            </div>
          </div>
        </div>
      </div>

      <div class="component-more-article__container">
        <h2>Plus d'articles</h2>
        <ul class="row component-more-article__list">
          <li class="component-more-article col-8 offset-2 col-md-4 offset-md-0">
            <div class="component-more-article__image"><a href="#"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></a></div>
            <div class="component-more-article__content">
              <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
              <ul>
                <li><a href="#" class="text__category">Catégorie 1</a></li>
                <li><a href="#" class="text__category">Catégorie 2</a></li>
              </ul>
              <p class="text__date">Le 12 Octobre 2019</p>
            </div>
          </li>
          <li class="component-more-article col-8 offset-2 col-md-4 offset-md-0">
            <div class="component-more-article__image"><a href="#"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></a></div>
            <div class="component-more-article__content">
              <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
              <ul>
                <li><a href="#" class="text__category">Catégorie 1</a></li>
                <li><a href="#" class="text__category">Catégorie 2</a></li>
              </ul>
              <p class="text__date">Le 12 Octobre 2019</p>
            </div>
          </li>
          <li class="component-more-article col-8 offset-2 col-md-4 offset-md-0">
            <div class="component-more-article__image"><a href="#"><%= image_tag 'ressources/blog/photo-1.jpg', alt: 'cover' %></a></div>
            <div class="component-more-article__content">
              <h4><a href="#" class="component-more-article__title">Lorem ipsum dolor sit amet</a></h4>
              <ul>
                <li><a href="#" class="text__category">Catégorie 1</a></li>
                <li><a href="#" class="text__category">Catégorie 2</a></li>
              </ul>
              <p class="text__date">Le 12 Octobre 2019</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
