---
title: Portfolio | Morgane Guerit
---

<div class="page-portfolio js-portfolio">
  <h1>Portfolio</h1>
  <section class="page-portfolio__filter js-filters">
    <h2>Catégories</h2>
    <ul class="js-categories">
      <li data-category="voyage"><button>voyage</button></li>
      <li data-category="laponie-dalmatie-trophy-2019"><button>laponie-dalmatie-trophy-2019</button></li>
      <li data-category="coupe-du-monde-feminine-2019"><button>coupe-du-monde-feminine-2019</button></li>
      <li data-category=""><button>Réinitialiser</button></li>
    </ul>
  </section>
  <button class="button js-toggle"><span class="filters">Filtres</span><span class="close">Fermer</span></button>
  <div class="gallery__voyage">
    <div class="gallery__laponie-dalmatie-trophy-2019">
      <div class="gallery__coupe-du-monde-feminine-2019">
        <ul class="component-portfolio__list js-images">
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="coupe-du-monde-feminine-2019" data-sub-html=".caption" data-category="coupe-du-monde-feminine-2019" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
          <li class="laponie-dalmatie-trophy-2019" data-sub-html=".caption" data-category="laponie-dalmatie-trophy-2019" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
