---
title: Morgane Guérit Portfolio
---

<div class="page-services">

  <section class="component-cover section js-section" style="background-image: url(<%= image_path("ressources/services.jpg") %>);">
    <div class="container component-cover__content">
      <div class="row">
        <div class="col-md-5">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="icon__scroller"></div>
  </section>

  <section class="component-service component-service--right section section__screen-height js-section">
    <div class="container">
      <div class="row">
        <div class="component-service__image component-service__image--left col-md-6">
          <%= image_tag 'ressources/services/photo-1.jpg', alt: 'cover' %>
        </div>
        <div class="component-service__content col-md-6 offset-md-6">
          <h2>Photographie</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button button__arrow button__arrow--right" href="#">Voir mes services</a>
        </div>
      </div>
    </div>
  </section>

  <section class="component-service section section__screen-height js-section">
    <div class="container">
      <div class="row">
        <div class="component-service__image component-service__image--right col-md-6">
          <%= image_tag 'ressources/services/photo-2.jpg', alt: 'cover' %>
        </div>
        <div class="component_service__content col-md-6">
          <h2>Réseaux sociaux</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button button__arrow button__arrow--right" href="#">Voir mes services</a>
        </div>
      </div>
    </div>
  </section>

  <section class="component-service component-service--right section section__screen-height js-section">
    <div class="container">
      <div class="row">
        <div class="component-service__image component_service__image--left col-md-6">
          <%= image_tag 'ressources/services/photo-1.jpg', alt: 'cover' %>
        </div>
        <div class="component-service__content col-md-6 offset-md-6">
          <h2>Blogging</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button button__arrow button__arrow--right" href="#">Voir mes services</a>
        </div>
      </div>
    </div>
  </section>

  <section class="component-confiance section js-section">
    <div class="container">
      <h2>Ils m'ont fait confiance</h2>
      <div class="row">
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/google.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/raid.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/google.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/google.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/raid.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/google.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/google.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/raid.png', alt: 'cover' %>
        </div>
        <div class="component-confiance__brand col-6 col-md-4">
          <%= image_tag 'ressources/brands/google.png', alt: 'cover' %>
        </div>
      </div>
    </div>
  </section>

  <section class="page-services__testimony section js-section">
    <div class="container">
      <h2>Ils parlent de moi</h2>
      <div class="row">
        <div class="col-md-6 component-testimony">
          <div class="component-testimony__person">
            <div class="component-testimony__person--img">
                <%= image_tag 'ressources/testimony.jpg', alt: 'cover' %>
            </div>
            <div class="component-testimony__person--title">
              <h4 class="text__testimony">Thomas Piedupuy</h4>
              <p>Girondins de Bordeaux</p>
            </div>
          </div>
          <div class="component-testimony__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="col-md-6 component-testimony">
          <div class="component-testimony__person">
            <div class="component-testimony__person--img">
                <%= image_tag 'ressources/testimony.jpg', alt: 'cover' %>
            </div>
            <div class="component-testimony__person--title">
              <h4 class="text__testimony">Thomas Piedupuy</h4>
              <p>Girondins de Bordeaux</p>
            </div>
          </div>
          <div class="component-testimony__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
