---
title: Portfolio | Morgane Guerit
---

<div class="page-portfolio js-portfolio">
  <h1>Portfolio</h1>
  <section class="page-portfolio__filter js-filters">
    <h2>Catégories</h2>
    <ul class="js-categories">
      <li data-category="voyage"><button>voyage</button></li>
    </ul>
  </section>
  <div class="gallery__voyage">
    <ul class="component-portfolio__list js-images">
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-1.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-1.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-5.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-5.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-4.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-4.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-3.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-3.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
      <li class="voyage" data-sub-html=".caption" data-category="voyage" data-src="<%= image_path("ressources/portfolio/photo-2.jpg") %>" ><%= image_tag 'ressources/portfolio/photo-2.jpg', alt: 'cover' %><div class="caption"><h4>Caption1</h4><p>Desc1</p></div></li>
    </ul>
  </div>
</div>
